/*con questo "carico" i font dalla cartella font che è nella cartella del progetto. Sono in cima così si caricano da subito e poi posso usarli dopo nel css*/
@font-face {
  font-family: "eckma";
  src: url(fonts/eckma.ttf);
}
/*idem con patate*/
@font-face {
  font-family: "janson";
  src: url(fonts/Janson/Janson/JansonTextLTStd-Roman\ from\ download-free-fonts.com.otf);
}

@font-face {
  font-family: "univers";
  src: url(fonts/univers/univers/UniversRegular.ttf);
}

/*questo non so cosa sia [ouch], lo sto dicendo solo perchè il tutorial mi dice di farlo*/
* { /*l'asterisco vuol dire che si riferisce a TUTTO l'HTML */
  box-sizing: border-box;/*$*/
  margin: 0;/*per far sì che gli elementi non siano di default in mezzo al website*/
}

/*definisco in generale il colore dello sfondo di tutti gli elementi del body e il colore di tutti i testi*/
body {
  background: #3b343f;
}

p {
  color: #fcf8f2; 
}

a {
  display: block; /*trasforma l'elemento in block perchè se no le parole si posizionano una accanto all'altra*/
  text-decoration: none;/*perché di default i collegamenti hanno la formattazione blu con sottolineatura e diventano viola quando li apri*/
  color: #fcf8f2;
}

/*inizio stile della navbar*/
header {/*è tipo un contenitore: defineno lo stile dell'header io definisco lo stile del contenitore (rettangolo) e tutto quello che c'è dentro*/
  position: fixed;/*Sta li fermo e non scorre*/
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;/*$tutoral su miro*/
  background-color: #3b343f;
  justify-content: end; /*ti allinea tutto a destra. Prima abbiamo allineato tutto a destra, poi ho specificato che la scritta "FONTCOW" va a sinistra*/
  align-items: center; /*Tutti gli elementi sono al centro dell'Header SEMPRE*/
  padding: 10px 5%; /*scritto così significa che c'è uno spazio di 10px tra la scritta/mucca/menu e il bordo dell'header dall'alto e dal basso, mentre dell'5% (dello schermo) dai lati*/
  border-bottom: 3pt solid #fcf8f2; /*!!! se cambi lo spessore del bordo poi devi cambiare anche la traslazione del grid container*/
}

.pulsante-cambiodistile {
  border-style: none;
  background-color: #fcf8f2;
  margin-right: 40px; /*ho distanziato la mucca dal menu*/
  height: 105px;
  width: 150px;
}

.pulsante-cambiodistile:hover {
  background-color: #fcf8f2;
}

.logo {
  width: 75%;
  height: 75%;
}

.nomesito {
  font-family: "eckma", sans-serif; /*Sans-serif è per mettere una font sostitutiva se non ti trova Ekma*/
  font-size: 40pt;
  margin-right: auto; /*$non so perchè ma lo mette a sinistra*/
}

.menu {
  width: 80px;
  height: 80px;
}
/*fine stile della navbar (quella in alto)*/

/*inizio modifica della sidenav*/
.sidenav { /*è lo spazio a sinistra, non il rettangolo fisso*/
  height: 100%;
  width: 33.33%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #3b343f;
  overflow-x: hidden;/*$*/
  padding-top: 20px;
  padding-left: 5%;
}

.sidenav a {/*Sono le scritte. Prendimi tutti gli "a" che sono nela sidenav*/
  font-family: "janson";
  font-size: 30pt;
  text-align: left;
  margin-left: 40px;
  margin-top: 30px;
}

.sidenav a:hover {
  color: yellow;
}

.sidenav-cornice {
  border: 3pt solid #3b343f;
  margin: 144px 20px 40px 0px;
  padding-top: 100px; /*l'altezza della navbar (104px) più altri 100px*/
  height: 500px;
  overflow: scroll;
}

/*inizio scrollbar*/
::-webkit-scrollbar {
  width: 1.25em;/*larghezza totale della scrollbar. Di default la larghezza è zero, per questo bisogna specificare la larghezza totale*/
}

::-webkit-scrollbar-track {/*binari della scrollbar*/
  background-color: #3b343f;
  margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #fcf8f2;
  border: 0.25em solid #3b343f;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
}
/*fine scrollbar*/

/*inizio modifica della parte principale (storie dei font)*/
.storiefont {
  margin-left: 33.33%; /* traslo a destra della stessa larghezza della sidebar, così appare accanto */
  margin-top: 130px;
  padding: 0px 5% 0px 40pt;
  z-index: 1;
  background-color: transparent;
}
.stofont-titoli {
  font-size: 89pt;
}

.stofont-testi {
  font-size: 20pt;
}

.bodonimargin, .frankmargin, .helvmargin, .garamargin, .univmargin {
  margin-bottom: 60pt;
}

#univers {
  font-family: "univers", sans-serif;
}

#helvetica {
  font-family: Helvetica, sans-serif;
}

#garamond {
  font-family: eb-garamond, serif;
  font-weight: 400;/*non ti allarmare se solo alcuni hanno il font weight. Sono info prese di peso dai pacchetti font adobe*/
  font-style: normal;
}

#bodoni {
  font-family: bodoni-urw, serif;
  font-weight: 400;
  font-style: normal;
}

#frankgothic {
  font-family: franklin-gothic-urw,sans-serif;
font-weight: 400;
font-style: normal;
}

.cerchio {
  width: 350px;
  height: 350px;
  border: 3px solid #fcf8f2;
  border-radius: 50%;/*è per trasformare un blocco in un cerchio. La percentuale è di quanto devono essere arrotondati i bordi */
  background-color: transparent;
  float: right;
  outline-width: 99px;
  outline-color: rebeccapurple;
  z-index:0;
}

.letterehuge {/*Big B of Bodoni*/
  font-size: 400pt;
  position: absolute;
  right: 70px;
  top: 160px;
  z-index: -1;
}

/*per un responsive che non ci serve? preso dal pezzo di codice per fare la sidenav*/
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}