/*con questo "carico"? i font da subito e poi posso usarli dopo nel css*/
@font-face {
  font-family: "eckma";
  src: url(fonts/eckma.ttf);
}

@font-face {
  font-family: "janson";
  src: url(fonts/Janson/Janson/JansonTextLTStd-Roman\ from\ download-free-fonts.com.otf);
}

@font-face {
  font-family: "univers";
  src: url(fonts/univers/univers/UniversRegular.ttf);
}

/*questo non so cosa sia, lo sto dicendo solo perchè il tutorial mi dice di farlo*/
* {
  box-sizing: border-box;
  margin: 0;
}

/*definisco in generale il colore dello sfondo di tutti gli elementi del body e il colore di tutti i testi*/
body {
  background: #fcf8f2;
}

.sidenav-ricerca {
  width: 33.33%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #fcf8f2;
  overflow: hidden;
  padding-top: 300px;
  padding-left: 5%;
}

p {
  color: #3b343f;
  /*trovare un modo per abbinare questo colore letteralmente a ogni elemento che vogliamo sia nero*/
}

a {
  display: block;
  /*trasforma l'elemento in block perchè se no le parole si posizionano una accanto all'altra*/
  text-decoration: none;
  color: #3b343f;
}

/*inizio stile della navbar*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  display: flex;
  background-color: #fcf8f2;
  justify-content: end; /*ti allinea tutto a destra*/
  align-items: center; /*allinea tutti gli elementi all'interno al centro*/
  padding: 10px 5%;
  /*scritto così significa che c'è un "cuscinetto" di 30px dall'alto e dal basso, mentre dell'8% (dello schermo?) dai lati*/
  /*border-bottom: 3pt solid #3b343f; !!! se cambi lo spessore del bordo poi devi cambiare anche la traslazione del grid container*/
  box-shadow: 0px 5px 5px rgba(59, 52, 63, 0.4);
}

.pulsante-cambiodistile {
  border-style: none;
  background-color: #fcf8f2;
  margin-right: 40px;
  /*ho distanziato la mucca dal menu*/
  height: 105px;
  width: 150px;
}

.pulsante-cambiodistile:hover {
  background-color: #fcf8f2;
  cursor: pointer;
}

.logo {
  width: 75%;
  height: 75%;
}

.nomesito {
  font-family: "eckma", sans-serif;
  font-size: 40pt;
  margin-right: auto;
  /*non so perchè ma lo mette a sinistra*/
}

input[type="checkbox"] {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
  width: 80px;
  height: 80px;
}

.menubtn {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 2px solid #3b343f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barre {
  position: relative;
  display: flex;
  justify-content: center;
}

.barrainmezzo {
  width: 70px;
  height: 6px;
  background: #3b343f;
  border-radius: 50%;
  position: absolute;
  transition: 0.3s ease;
}

.barrasopra {
  width: 70px;
  height: 6px;
  background: #3b343f;
  border-radius: 50%;
  position: absolute;
  transition: 0.3s ease;
  top: 40px;
}

.barrasotto {
  width: 70px;
  height: 6px;
  background: #3b343f;
  border-radius: 50%;
  position: absolute;
  transition: 0.3s ease;
  bottom: 40px;
}

input[type="checkbox"]:checked ~ .barrasopra {
  transform: rotate(-45deg);
  width: 70px;
  transform-origin: right;
  top: -25px;
}

input[type="checkbox"]:checked ~ .barrasotto {
  transform: rotate(45deg);
  width: 70px;
  transform-origin: right;
  top: 25px;
}

/*fine stile della navbar*/

/*inizio modifica della sidenav*/
.pulisci-sidenav {
  display: none;
}

#mySearch {
  border: 3pt solid #3b343f;
  margin: 0px 0 40px 0px;
  /*l'altezza della navbar (104px) più altri 100px*/
  height: 117.6px;
  overflow: stroll;
  font-size: 20pt;
  width: 100%;
  font-family: "janson";
  border-radius: 58.8px;
  padding-left: 40px;
  background-color: #fcf8f2;
}

#mySearch:focus {
  background-color: #fcf8f2;
  outline: none;
}
#myMenu {
  list-style: none;
  width: 100%;
  padding-left: 0px; /*bisogna specificare padding 0 se no ti lascia un padding a sinistra, credo te lo lasci perché è una lista*/
}

.sidenav {
  height: 100%;
  width: 33.33%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #fcf8f2;
  overflow: hidden;
  padding-top: 20px;
  padding-left: 5%;
}

.sidenav a {
  font-family: "janson";
  font-size: 30pt;
  text-align: left;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sidenav a:hover {
  letter-spacing: 2pt;
}

.sidenav a::first-line {
  margin-top: 100px;
}

.sidenav-cornice {
  border: 3pt solid #3b343f;
  margin: 144px 20px 40px 0px;
  padding-top: 100px;
  /*l'altezza della navbar (104px) più altri 100px*/
  height: 500px;
  overflow: scroll;
}

.contenitore-sidenav-nomi {
  border: 3pt solid #3b343f;
  margin: 0px 0 40px 0px;
  /*l'altezza della navbar (104px) più altri 100px*/
  height: 33.33%;
  overflow: stroll;
  width: 100%;
  font-family: "janson";
  border-radius: 58.8px;
  border: 3pt solid #3b343f;
  width: 100%;
  font-family: "janson";
  border-radius: 58.8px;
}

.sidenav-nomi {
  font-family: "janson", serif;
  font-size: 30pt;
  text-align: left;
  margin-top: 30px;
}

/*inizio scrollbar*/
::-webkit-scrollbar {
  width: 1.25em;
}

::-webkit-scrollbar-track {
  background-color: #fcf8f2;
  margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #3b343f;
  border: 0.25em solid #fcf8f2;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

/*fine scrollbar*/

/*inizio modifica della parte principale (storie dei font)*/
.storiefont {
  margin-left: 33.33%;
  /* traslo a destra della stessa larghezza della sidebar, così appare accanto */
  margin-top: 130px;
  padding: 0px 5% 0px 40pt;
  z-index: 50;
  background-color: transparent;
}

.stofont-titoli {
  font-size: 89pt;
}

.stofont-testi {
  font-size: 20pt;
  margin-top: 24pt;
}

#bodonimargin,
#frankmargin,
#helvmargin,
#garamargin,
#univmargin {
  padding-top: 135px;
}

#univers {
  font-family: "univers", sans-serif;
}

#helvetica {
  font-family: Helvetica, sans-serif;
}

#garamond {
  font-family: eb-garamond, serif;
  font-weight: 400;
  font-style: normal;
}

#bodoni {
  font-family: bodoni-urw, serif;
  font-weight: 400;
  font-style: normal;
}

#frankgothic {
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cerchio {
  width: 350px;
  height: 350px;
  border: 3px solid #3b343f;
  border-radius: 50%;
  background-color: transparent;
  float: right;
  outline-width: 999px;
  outline-color: aqua;
  z-index: 0;
}

.letterehuge {
  font-size: 400pt;
  position: absolute;
  right: 70px;
  top: 160px;
  z-index: -50;
}

/*per un responsive che non ci serve?*/
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/*INIZIO PAGINA COMPARE*/

.horizon {
  position: fixed;
  bottom: 0;
  height: 200px;
  width: 100%;
  z-index: 100;
  display: flex;
  background-color: rgba(163, 78, 25, 0.9);
  justify-content: space-between;
  align-items: center; /*allinea tutti gli elementi all'interno al centro*/
  padding: 10px 8.33%;
  box-shadow: 0px -3px 5px rgba(59, 52, 63, 0.4);
}

.searchbarscacciona-sx {
  border: 2px solid #3b343f;
  background-color: #fcf8f2;
  width: 16.66%;
  height: 20%;
  align-self: center;
  justify-content: center;
  padding: 10px 20px;
  margin: auto; /*cosa fa?*/
}

.searchbarscacciona-dx {
  border: 2px solid #3b343f;
  background-color: #fcf8f2;
  width: 16.66%;
  height: 20%;
  align-self: center;
  justify-content: center;
  padding: 10px 20px;
  margin: auto;
}

.font-container {
  display: flex;
  margin-top: 104px;
  justify-content: space-between;
  width: 100%;
  align-self: center;
  padding-left: 16.66%;
  padding-right: 16.66%;
}

.font-sx {
  width: 33.33%;
  background-color: aquamarine;
  height: 100%;
  transform: translate(0px, -100px);
}

.font-dx {
  width: 33.33%;
  background-color: aquamarine;
  height: 100%;
  transform: translate(0px, -100px);
}

.compareletters {
  width: 100%;
  height: 400px;
}

.compareletters p {
  font-size: 300pt;
}
